<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
        <File name="file" filename="logs/app.log">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </File>
		<RollingFile name="rollingfile"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 KB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.egovframe.lab.ex" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingfile" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
